Repository yilingtung/github-explorer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, bash -c tsc --noEmit

.lintstagedrc.json:

{
  "!*.{js,jsx,ts,tsx,sol,tf}": ["prettier --ignore-unknown --write"],
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{ts,tsx}": ["bash -c tsc --noEmit"]
}

fix: setup styled-components.
  package.json
  src/App.tsx
  src/index.tsx
  src/styles/theme.ts
  types/styled-components/index.d.ts
  yarn.lock
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

fix: setup styled-normalize.
  package.json
  src/index.tsx
  yarn.lock
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

fix: setup storybook.
  .storybook/main.js
  .storybook/preview.js
  package.json
  src/components/atoms/Button/Button.stories.tsx
  src/components/atoms/Button/Button.tsx
  src/components/atoms/Button/index.ts
  src/components/atoms/Button/styles.tsx
  src/index.css
  yarn.lock
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

fix: implement InputSearch, Input, Button components.
  src/App.tsx
  src/assets/icons/close.svg
  src/components/atoms/Button/Button.tsx
  src/components/atoms/Button/styles.tsx
  src/components/atoms/Input/Input.stories.tsx
  src/components/atoms/Input/Input.tsx
  src/components/atoms/Input/index.ts
  src/components/atoms/Input/styles.tsx
  src/components/molecules/InputSearch/InputSearch.stories.tsx
  src/components/molecules/InputSearch/InputSearch.tsx
  src/components/molecules/InputSearch/index.ts
  src/components/molecules/InputSearch/styles.tsx
  src/styles/theme.ts
  types/styled-components/index.d.ts
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

fix: implement Header component.
  src/App.css
  src/App.test.tsx
  src/App.tsx
  src/components/molecules/InputSearch/InputSearch.tsx
  src/components/organisms/Header/Header.stories.tsx
  src/components/organisms/Header/Header.tsx
  src/components/organisms/Header/index.ts
  src/components/organisms/Header/styles.tsx
  src/styles/theme.ts
  types/styled-components/index.d.ts
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

fix: setup react-router-dom and OrganizationInputSearch.
  .storybook/main.js
  package.json
  src/App.tsx
  src/components/organisms/Header/Header.stories.tsx
  src/components/organisms/Header/Header.tsx
  src/components/organisms/Header/styles.tsx
  src/components/organisms/OrganizationInputSearch/OrganizationInputSearch.stories.tsx
  src/components/organisms/OrganizationInputSearch/OrganizationInputSearch.tsx
  src/components/organisms/OrganizationInputSearch/index.ts
  yarn.lock
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

fix: revise redux folder logic.
  src/app/hooks.ts
  src/features/counter/Counter.module.css
  src/features/counter/Counter.tsx
  src/features/counter/counterAPI.ts
  src/features/counter/counterSlice.spec.ts
  src/features/counter/counterSlice.ts
  src/index.tsx
  src/store/index.ts
  src/util/hooks/useAppDispatch.ts
  src/util/hooks/useAppSelector.ts
  src/util/hooks/useRedux.ts
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

fix: setup SiteLayout and route page.
  src/App.tsx
  src/components/layouts/SiteLayout/SiteLayout.tsx
  src/components/layouts/SiteLayout/index.ts
  src/components/layouts/SiteLayout/styles.tsx
  src/components/organisms/Header/styles.tsx
  src/components/pages/HomePage/HomePage.tsx
  src/components/pages/HomePage/index.ts
  src/components/pages/HomePage/styles.tsx
  src/routes/index.tsx
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

fix: add recommend organization to home page.
  src/assets/images/banner.png
  src/components/atoms/Input/styles.tsx
  src/components/molecules/CardOrganization/CardOrganization.stories.tsx
  src/components/molecules/CardOrganization/CardOrganization.tsx
  src/components/molecules/CardOrganization/index.ts
  src/components/molecules/CardOrganization/styles.tsx
  src/components/organisms/Header/styles.tsx
  src/components/organisms/RecommendOrganizations/RecommendOrganizations.stories.tsx
  src/components/organisms/RecommendOrganizations/RecommendOrganizations.tsx
  src/components/organisms/RecommendOrganizations/index.ts
  src/components/organisms/RecommendOrganizations/styles.tsx
  src/components/pages/HomePage/HomePage.tsx
  src/components/pages/HomePage/styles.tsx
  src/styles/theme.ts
  src/util/data/greetings.ts
  src/util/functions/getRandomItem.ts
  types/styled-components/index.d.ts
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

fix: add media query.
  src/components/organisms/RecommendOrganizations/styles.tsx
  src/util/media.ts
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

feat: support OrganizationInputSearch fetch organizations.
  package.json
  src/components/atoms/Input/Input.tsx
  src/components/atoms/SelectList/SelectList.stories.tsx
  src/components/atoms/SelectList/SelectList.tsx
  src/components/atoms/SelectList/index.ts
  src/components/atoms/SelectList/styles.tsx
  src/components/atoms/SelectOption/SelectList.stories.tsx
  src/components/atoms/SelectOption/SelectOption.tsx
  src/components/atoms/SelectOption/index.ts
  src/components/atoms/SelectOption/styles.tsx
  src/components/molecules/CardOrganization/CardOrganization.tsx
  src/components/molecules/InputSearch/InputSearch.stories.tsx
  src/components/molecules/InputSearch/InputSearch.tsx
  src/components/molecules/InputSearch/styles.tsx
  src/components/organisms/Header/Header.stories.tsx
  src/components/organisms/OrganizationInputSearch/OrganizationInputSearch.stories.tsx
  src/components/organisms/OrganizationInputSearch/OrganizationInputSearch.tsx
  src/components/organisms/OrganizationInputSearch/styles.tsx
  src/components/pages/OrganizationPage/OrganizationPage.tsx
  src/components/pages/OrganizationPage/index.ts
  src/components/pages/OrganizationPage/styles.tsx
  src/index.tsx
  src/routes/index.tsx
  src/store/index.ts
  src/store/simpleOrg.ts
  src/util/constants/endpoints.ts
  src/util/constants/index.ts
  src/util/hooks/useDebounce.ts
  src/util/hooks/useOnClickOutside.ts
  src/util/hooks/useRedux.ts
  src/util/maps/errorMap.ts
  types/index.d.ts
  yarn.lock
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

feat: implement recommend orgs fetching.
  src/components/atoms/Skeleton/Skeleton.stories.tsx
  src/components/atoms/Skeleton/Skeleton.tsx
  src/components/atoms/Skeleton/index.ts
  src/components/atoms/Skeleton/styles.tsx
  src/components/molecules/CardOrganization/CardOrganization.stories.tsx
  src/components/molecules/CardOrganization/CardOrganization.tsx
  src/components/molecules/CardOrganization/index.ts
  src/components/molecules/CardOrganization/styles.tsx
  src/components/organisms/Header/Header.tsx
  src/components/organisms/RecommendOrganizations/RecommendOrganizations.stories.tsx
  src/components/organisms/RecommendOrganizations/RecommendOrganizations.tsx
  src/components/organisms/RecommendOrganizations/styles.tsx
  src/components/pages/HomePage/styles.tsx
  src/index.css
  src/store/simpleOrg.ts
  src/util/media.ts
  types/index.d.ts
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

fix: wrap some pure function in memo.
  src/components/atoms/Button/Button.stories.tsx
  src/components/atoms/Button/Button.tsx
  src/components/atoms/Button/index.ts
  src/components/atoms/Input/Input.stories.tsx
  src/components/atoms/Input/Input.tsx
  src/components/atoms/Input/index.ts
  src/components/atoms/SelectList/SelectList.stories.tsx
  src/components/atoms/SelectList/SelectList.tsx
  src/components/atoms/SelectList/index.ts
  src/components/atoms/SelectOption/SelectList.stories.tsx
  src/components/atoms/SelectOption/SelectOption.tsx
  src/components/atoms/SelectOption/index.ts
  src/components/atoms/Skeleton/Skeleton.tsx
  src/components/atoms/Skeleton/index.ts
  src/components/layouts/SiteLayout/SiteLayout.tsx
  src/components/layouts/SiteLayout/index.ts
  src/components/molecules/CardOrganization/CardOrganization.tsx
  src/components/molecules/InputSearch/InputSearch.stories.tsx
  src/components/molecules/InputSearch/InputSearch.tsx
  src/components/molecules/InputSearch/index.ts
  src/components/organisms/Header/Header.stories.tsx
  src/components/organisms/Header/Header.tsx
  src/components/organisms/Header/index.ts
  src/components/organisms/OrganizationInputSearch/OrganizationInputSearch.stories.tsx
  src/components/organisms/OrganizationInputSearch/OrganizationInputSearch.tsx
  src/components/organisms/OrganizationInputSearch/index.ts
  src/components/organisms/RecommendOrganizations/RecommendOrganizations.stories.tsx
  src/components/organisms/RecommendOrganizations/RecommendOrganizations.tsx
  src/components/organisms/RecommendOrganizations/index.ts
  src/components/pages/HomePage/HomePage.tsx
  src/components/pages/HomePage/index.ts
  src/components/pages/OrganizationPage/OrganizationPage.tsx
  src/components/pages/OrganizationPage/index.ts
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

fix: add Profile component.
  src/assets/icons/close.svg
  src/assets/icons/link.svg
  src/components/atoms/Label/Label.stories.tsx
  src/components/atoms/Label/Label.tsx
  src/components/atoms/Label/index.ts
  src/components/atoms/Label/styles.tsx
  src/components/molecules/Profile/Profile.stories.tsx
  src/components/molecules/Profile/Profile.tsx
  src/components/molecules/Profile/index.ts
  src/components/molecules/Profile/styles.tsx
  src/components/pages/OrganizationPage/OrganizationPage.tsx
  src/components/pages/OrganizationPage/styles.tsx
  src/styles/theme.ts
  types/styled-components/index.d.ts
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

fix: add CardRepo component.
  src/assets/icons/star.svg
  src/components/molecules/CardRepo/CardRepo.stories.tsx
  src/components/molecules/CardRepo/CardRepo.tsx
  src/components/molecules/CardRepo/index.ts
  src/components/molecules/CardRepo/styles.tsx
  src/components/molecules/LanguageTag/LanguageTag.stories.tsx
  src/components/molecules/LanguageTag/LanguageTag.tsx
  src/components/molecules/LanguageTag/index.ts
  src/components/molecules/LanguageTag/styles.tsx
  src/components/pages/OrganizationPage/OrganizationPage.tsx
  src/components/pages/OrganizationPage/styles.tsx
  src/util/maps/languageColorsMap.ts
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

fix: handle OrganizationInputSearch select option onclick.
  src/components/organisms/OrganizationInputSearch/OrganizationInputSearch.tsx
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

feat: implement organization data fetching.
  src/components/molecules/Profile/Profile.tsx
  src/components/pages/OrganizationPage/OrganizationPage.tsx
  src/components/pages/OrganizationPage/styles.tsx
  src/store/index.ts
  src/store/organization.ts
  types/index.d.ts
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

feat: implement repo data fetching.
  src/components/organisms/ReposContainer/ReposContainer.stories.tsx
  src/components/organisms/ReposContainer/ReposContainer.tsx
  src/components/organisms/ReposContainer/index.ts
  src/components/organisms/ReposContainer/styles.tsx
  src/components/pages/OrganizationPage/OrganizationPage.tsx
  src/components/pages/OrganizationPage/styles.tsx
  src/store/index.ts
  src/store/repository.ts
  src/util/data/filters.ts
  types/index.d.ts
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

feat: implement long list virtualization with react-window.
  package.json
  src/assets/images/empty.png
  src/assets/images/error.png
  src/components/atoms/Button/styles.tsx
  src/components/atoms/HintText/HintText.stories.tsx
  src/components/atoms/HintText/HintText.tsx
  src/components/atoms/HintText/index.ts
  src/components/atoms/HintText/styles.tsx
  src/components/atoms/Label/styles.tsx
  src/components/molecules/CardError/CardError.stories.tsx
  src/components/molecules/CardError/CardError.tsx
  src/components/molecules/CardError/index.ts
  src/components/molecules/CardError/styles.tsx
  src/components/molecules/CardRepo/CardRepo.tsx
  src/components/molecules/Profile/styles.tsx
  src/components/molecules/RepoList/RepoList.tsx
  src/components/molecules/RepoList/index.ts
  src/components/molecules/RepoList/styles.tsx
  src/components/organisms/OrganizationInputSearch/OrganizationInputSearch.tsx
  src/components/organisms/RecommendOrganizations/RecommendOrganizations.tsx
  src/components/organisms/ReposContainer/ReposContainer.tsx
  src/components/organisms/ReposContainer/styles.tsx
  src/components/pages/OrganizationPage/OrganizationPage.tsx
  src/components/pages/OrganizationPage/styles.tsx
  src/store/repository.ts
  src/util/constants/index.ts
  src/util/constants/layouts.ts
  types/react-window-scroller/index.d.ts
  yarn.lock
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

feat: implement repo filters.
  src/assets/icons/arrow-down.svg
  src/assets/icons/check.svg
  src/components/atoms/SelectOption/SelectOption.tsx
  src/components/molecules/Dropdown/Dropdown.stories.tsx
  src/components/molecules/Dropdown/Dropdown.tsx
  src/components/molecules/Dropdown/index.ts
  src/components/molecules/Dropdown/styles.tsx
  src/components/organisms/OrganizationInputSearch/OrganizationInputSearch.tsx
  src/components/organisms/ReposContainer/ReposContainer.tsx
  src/components/organisms/ReposFilters/ReposContainer.stories.tsx
  src/components/organisms/ReposFilters/ReposFilters.tsx
  src/components/organisms/ReposFilters/index.ts
  src/components/organisms/ReposFilters/styles.tsx
  src/components/pages/OrganizationPage/OrganizationPage.tsx
  src/components/pages/OrganizationPage/styles.tsx
  src/styles/theme.ts
  src/util/functions/capitalizeFirstLetter.ts
  src/util/functions/getValidRepoFilters.ts
  types/styled-components/index.d.ts
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

fix: implement scroll to top when route change.
  src/App.tsx
  src/components/atoms/ScrollToTop/ScrollToTop.tsx
  src/components/atoms/ScrollToTop/index.ts
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

fix: move org filter params key into getOrgFilterParamsKey function.
  src/components/organisms/ReposContainer/ReposContainer.tsx
  src/store/repository.ts
  src/util/functions/getOrgFilterParamsKey.ts
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

fix: revise LanguageTag styles.
  src/components/molecules/LanguageTag/styles.tsx
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

feat: add scrolltop button.
  src/assets/icons/arrow-up.svg
  src/components/atoms/ScrollTopButton/ScrollTopButton.stories.tsx
  src/components/atoms/ScrollTopButton/ScrollTopButton.tsx
  src/components/atoms/ScrollTopButton/index.ts
  src/components/atoms/ScrollTopButton/styles.tsx
  src/components/organisms/ReposFilters/ReposFilters.tsx
  src/components/pages/OrganizationPage/OrganizationPage.tsx
  src/util/hooks/useElementOnScreen.ts
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

fix: revise rwd.
  src/assets/icons/search.svg
  src/components/atoms/Button/styles.tsx
  src/components/atoms/Input/styles.tsx
  src/components/atoms/Label/styles.tsx
  src/components/atoms/SelectOption/styles.tsx
  src/components/molecules/CardRepo/CardRepo.tsx
  src/components/molecules/CardRepo/styles.tsx
  src/components/molecules/InputSearch/InputSearch.tsx
  src/components/molecules/InputSearch/styles.tsx
  src/components/molecules/Profile/Profile.tsx
  src/components/molecules/Profile/styles.tsx
  src/components/organisms/Header/styles.tsx
  src/components/organisms/RecommendOrganizations/styles.tsx
  src/components/organisms/ReposFilters/styles.tsx
  src/components/pages/HomePage/HomePage.tsx
  src/components/pages/HomePage/styles.tsx
  src/components/pages/OrganizationPage/styles.tsx
  src/util/hooks/useMediaQuery.ts
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

feat: implement repo page.
  package.json
  src/assets/icons/github.svg
  src/components/atoms/Tag/Tag.stories.tsx
  src/components/atoms/Tag/Tag.tsx
  src/components/atoms/Tag/index.ts
  src/components/atoms/Tag/styles.tsx
  src/components/molecules/CardRepo/CardRepo.tsx
  src/components/molecules/OrgProfile/OrgProfile.stories.tsx
  src/components/molecules/OrgProfile/OrgProfile.tsx
  src/components/molecules/OrgProfile/index.ts
  src/components/molecules/OrgProfile/styles.tsx
  src/components/molecules/Profile/index.ts
  src/components/molecules/Readme/Readme.stories.tsx
  src/components/molecules/Readme/Readme.tsx
  src/components/molecules/Readme/index.ts
  src/components/molecules/Readme/styles.tsx
  src/components/molecules/RepoProfile/RepoProfile.stories.tsx
  src/components/molecules/RepoProfile/RepoProfile.tsx
  src/components/molecules/RepoProfile/index.ts
  src/components/molecules/RepoProfile/styles.tsx
  src/components/pages/OrganizationPage/OrganizationPage.tsx
  src/components/pages/RepoPage/RepoPage.tsx
  src/components/pages/RepoPage/index.ts
  src/components/pages/RepoPage/styles.tsx
  src/routes/index.tsx
  src/store/index.ts
  src/store/readme.ts
  src/store/repository.ts
  src/util/constants/endpoints.ts
  src/util/functions/timeFormatter.ts
  types/index.d.ts
  yarn.lock
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

feat: implement route as modal.
  public/index.html
  src/App.tsx
  src/components/atoms/Modal/Modal.stories.tsx
  src/components/atoms/Modal/Modal.tsx
  src/components/atoms/Modal/index.ts
  src/components/atoms/Modal/styles.tsx
  src/components/molecules/CardRepo/CardRepo.tsx
  src/components/molecules/Readme/styles.tsx
  src/components/molecules/RepoList/RepoList.tsx
  src/components/organisms/ReposContainer/ReposContainer.tsx
  src/components/pages/OrganizationPage/OrganizationPage.tsx
  src/components/pages/RepoPage/RepoPage.tsx
  src/index.tsx
  src/routes/index.tsx
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

fix: move common layout styles into SiteLayout.
  src/components/layouts/SiteLayout/SiteLayout.tsx
  src/components/layouts/SiteLayout/styles.tsx
  src/components/pages/HomePage/HomePage.tsx
  src/components/pages/HomePage/styles.tsx
  src/components/pages/OrganizationPage/OrganizationPage.tsx
  src/components/pages/OrganizationPage/styles.tsx
  src/components/pages/RepoPage/RepoPage.tsx
  src/components/pages/RepoPage/styles.tsx
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

fix: revise readme css to prevet image overflow and CardRepo hover styles..
  src/components/molecules/CardRepo/styles.tsx
  src/components/molecules/Readme/styles.tsx
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

fix: change favicon and web title.
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
Due: none

fix: adjust error images and type.
  src/assets/images/empty.png
  src/assets/images/error.png
  src/assets/images/not-found.png
  src/components/molecules/CardError/CardError.tsx
  src/components/pages/OrganizationPage/OrganizationPage.tsx
  src/components/pages/RepoPage/RepoPage.tsx
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

fix: change home page banner images and layout.
  src/assets/images/banner.png
  src/components/pages/HomePage/HomePage.tsx
  src/components/pages/HomePage/styles.tsx
  src/util/data/greetings.ts
  src/util/functions/getRandomItem.ts
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

fix: use globalsStyles.
  src/index.css
  src/index.tsx
  src/styles/globalsStyles.ts
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

Updates
  asset-manifest.json
  favicon.ico
  index.html
  logo192.png
  logo512.png
  manifest.json
  robots.txt
  static/js/274.28eec110.chunk.js
  static/js/274.28eec110.chunk.js.map
  static/js/787.8e84bebf.chunk.js
  static/js/787.8e84bebf.chunk.js.map
  static/js/main.419465ca.js
  static/js/main.419465ca.js.LICENSE.txt
  static/js/main.419465ca.js.map
  static/media/arrow-down.c8d32c357890d450e3e9b6d74020a9b8.svg
  static/media/arrow-up.ef015f1dcde88f867db380aa0e2313d3.svg
  static/media/banner.ca03b0b7e2d39f0df89c.png
  static/media/check.98d556d3a5ee5fb50987d2f1f336bdcf.svg
  static/media/close.30b835797d1463f675ae5a9d5da4956a.svg
  static/media/error.b88014bdbfa2e514ddeb.png
  static/media/github.ae9cdb057532bff98419750d8e982967.svg
  static/media/link.c3aa363ea7b1696f9ac8246fd6772526.svg
  static/media/not-found.d3fa043a7ebf05e333dc.png
  static/media/search.0cfb088b6054ed7c531bfe40a8676415.svg
  static/media/star.4089027bc4af7db9681a0f59476d6bbb.svg
Due: prettier --write, eslint --fix

Updates
  asset-manifest.json
  index.html
  static/js/main.419465ca.js
  static/js/main.419465ca.js.map
  static/js/main.bb197d23.js
  static/js/main.bb197d23.js.LICENSE.txt
  static/js/main.bb197d23.js.map
Due: prettier --write, eslint --fix

Updates
  404.html
  asset-manifest.json
  index.html
  static/js/main.66007882.js
  static/js/main.66007882.js.LICENSE.txt
  static/js/main.66007882.js.map
  static/js/main.bb197d23.js
  static/js/main.bb197d23.js.map
Due: prettier --write, eslint --fix

Updates
  404.html
  asset-manifest.json
  index.html
Due: none

Updates
  404.html
  asset-manifest.json
  index.html
  static/js/main.66007882.js
  static/js/main.66007882.js.map
  static/js/main.bb197d23.js
  static/js/main.bb197d23.js.LICENSE.txt
  static/js/main.bb197d23.js.map
Due: prettier --write, eslint --fix

Updates
  404.html
  asset-manifest.json
  index.html
  static/js/main.a9abf1a4.js
  static/js/main.a9abf1a4.js.LICENSE.txt
  static/js/main.a9abf1a4.js.map
  static/js/main.bb197d23.js
  static/js/main.bb197d23.js.map
Due: prettier --write, eslint --fix

Updates
  404.html
  asset-manifest.json
  index.html
  static/js/main.16924de9.js
  static/js/main.16924de9.js.LICENSE.txt
  static/js/main.16924de9.js.map
  static/js/main.a9abf1a4.js
  static/js/main.a9abf1a4.js.map
Due: prettier --write, eslint --fix
