Repository yilingtung/github-explorer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests, bash -c tsc --noEmit

test: fix lint error.
  src/components/molecules/Dropdown/Dropdown.tsx
  src/components/pages/OrganizationPage/OrganizationPage.test.tsx
  src/components/pages/RepoPage/RepoPage.test.tsx
  src/util/tests/test-utils.tsx
  types/react-window-scroller/index.d.ts
Due: prettier --write, eslint --fix, react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests, bash -c tsc --noEmit

ci: setup github action.
  .github/workflows/main.yml
Due: none

fix: move capitalize options function logic to individual file.
  src/components/organisms/ReposFilters/ReposFilters.tsx
  src/util/functions/getCapitalizeFilterOptions.ts
Due: prettier --write, eslint --fix, react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests, bash -c tsc --noEmit

fix: dynamic import RepoListGrid component.
  src/components/organisms/ReposContainer/ReposContainer.tsx
Due: prettier --write, eslint --fix, react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests, bash -c tsc --noEmit

fix: remove incorrectly used memorized hooks.
  src/components/molecules/InputSearch/InputSearch.tsx
  src/components/molecules/RepoList/RepoList.tsx
  src/components/molecules/RepoListGrid/RepoListGrid.tsx
  src/components/organisms/OrganizationInputSearch/OrganizationInputSearch.tsx
  src/components/organisms/ReposContainer/ReposContainer.tsx
Due: prettier --write, eslint --fix, react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests, bash -c tsc --noEmit

deploy: a7c5460098c5cbcdc1f2484bd1c2ceebcb0c924b
  404.html
  asset-manifest.json
  index.html
  static/js/895.3c86792b.chunk.js
  static/js/895.3c86792b.chunk.js.map
  static/js/895.a2b186b7.chunk.js
  static/js/895.a2b186b7.chunk.js.map
  static/js/main.86746b9c.js
  static/js/main.86746b9c.js.map
  static/js/main.aeefc42e.js
  static/js/main.aeefc42e.js.LICENSE.txt
  static/js/main.aeefc42e.js.map
  static/js/organization.5a196d87.chunk.js
  static/js/organization.5a196d87.chunk.js.map
  static/js/organization.cecd8a08.chunk.js
  static/js/organization.cecd8a08.chunk.js.map
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx}
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  react-scripts test --bail --watchAll=false --findRelatedTests --passWithNoTests: any of: *.{ts,tsx}
  bash -c tsc --noEmit: any of: *.{ts,tsx}
