Repository yilingtung/github-explorer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, bash -c tsc --noEmit

.lintstagedrc.json:

{
  "!*.{js,jsx,ts,tsx,sol,tf}": ["prettier --ignore-unknown --write"],
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{ts,tsx}": ["bash -c tsc --noEmit"]
}

Updates
  404.html
  asset-manifest.json
  index.html
  static/js/main.16924de9.js
  static/js/main.16924de9.js.map
  static/js/main.e26ac4aa.js
  static/js/main.e26ac4aa.js.LICENSE.txt
  static/js/main.e26ac4aa.js.map
Due: prettier --write, eslint --fix

Updates
  404.html
  asset-manifest.json
  index.html
  static/js/main.3d6cb921.js
  static/js/main.3d6cb921.js.LICENSE.txt
  static/js/main.3d6cb921.js.map
  static/js/main.e26ac4aa.js
  static/js/main.e26ac4aa.js.map
Due: prettier --write, eslint --fix

Updates
  404.html
  asset-manifest.json
  index.html
  static/js/main.3d6cb921.js
  static/js/main.3d6cb921.js.map
  static/js/main.e26ac4aa.js
  static/js/main.e26ac4aa.js.LICENSE.txt
  static/js/main.e26ac4aa.js.map
Due: prettier --write, eslint --fix

Updates
  404.html
  asset-manifest.json
  index.html
  static/js/main.e221d7f0.js
  static/js/main.e221d7f0.js.LICENSE.txt
  static/js/main.e221d7f0.js.map
  static/js/main.e26ac4aa.js
  static/js/main.e26ac4aa.js.map
Due: prettier --write, eslint --fix

Updates
  404.html
  asset-manifest.json
  index.html
  static/js/main.462c914d.js
  static/js/main.462c914d.js.LICENSE.txt
  static/js/main.462c914d.js.map
  static/js/main.e221d7f0.js
  static/js/main.e221d7f0.js.map
Due: prettier --write, eslint --fix

Updates
  404.html
  asset-manifest.json
  index.html
  static/js/main.462c914d.js
  static/js/main.462c914d.js.map
  static/js/main.df28157d.js
  static/js/main.df28157d.js.LICENSE.txt
  static/js/main.df28157d.js.map
Due: prettier --write, eslint --fix

Updates
  404.html
  asset-manifest.json
  index.html
  static/js/main.4fc377bc.js
  static/js/main.4fc377bc.js.LICENSE.txt
  static/js/main.4fc377bc.js.map
  static/js/main.df28157d.js
  static/js/main.df28157d.js.map
Due: prettier --write, eslint --fix

Updates
  404.html
  asset-manifest.json
  index.html
  static/js/main.4fc377bc.js
  static/js/main.4fc377bc.js.map
  static/js/main.df28157d.js
  static/js/main.df28157d.js.LICENSE.txt
  static/js/main.df28157d.js.map
Due: prettier --write, eslint --fix

Updates
  404.html
  asset-manifest.json
  index.html
  static/js/main.581bc688.js
  static/js/main.581bc688.js.LICENSE.txt
  static/js/main.581bc688.js.map
  static/js/main.df28157d.js
  static/js/main.df28157d.js.map
Due: prettier --write, eslint --fix

Updates
  404.html
  asset-manifest.json
  index.html
  static/js/main.46c9d587.js
  static/js/main.46c9d587.js.LICENSE.txt
  static/js/main.46c9d587.js.map
  static/js/main.581bc688.js
  static/js/main.581bc688.js.map
Due: prettier --write, eslint --fix

Updates
  404.html
  asset-manifest.json
  index.html
  static/js/main.040094df.js
  static/js/main.040094df.js.LICENSE.txt
  static/js/main.040094df.js.map
  static/js/main.46c9d587.js
  static/js/main.46c9d587.js.map
Due: prettier --write, eslint --fix

Updates
  404.html
  asset-manifest.json
  index.html
  static/js/main.040094df.js
  static/js/main.040094df.js.map
  static/js/main.99f234c7.js
  static/js/main.99f234c7.js.LICENSE.txt
  static/js/main.99f234c7.js.map
Due: prettier --write, eslint --fix

vuild: deploy to github page.
  package.json
  public/index.html
  src/index.tsx
  yarn.lock
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

fix: revise CardError layouts.
  src/components/molecules/CardError/styles.tsx
  src/components/pages/OrganizationPage/OrganizationPage.tsx
  src/components/pages/OrganizationPage/styles.tsx
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

fix: add some images for README.md.
  images/debounce-search.gif
  images/demo.gif
  images/error-handling.jpg
  images/filters.gif
  images/home-page.jpg
  images/infinite-scroll.gif
  images/route-as-modal.gif
  images/windowing.gif
  src/assets/images/banner.png
Due: none

doc: upadte README.md
  README.md
Due: none

Updates
  404.html
  asset-manifest.json
  index.html
  static/js/main.48984de0.js
  static/js/main.48984de0.js.LICENSE.txt
  static/js/main.48984de0.js.map
  static/js/main.99f234c7.js
  static/js/main.99f234c7.js.map
  static/media/banner.6a98ca216f1c24802a07.png
  static/media/banner.ca03b0b7e2d39f0df89c.png
Due: prettier --write, eslint --fix

fix: use immutable updates in Redux Toolkit's createSlice.
  src/store/organization.ts
  src/store/readme.ts
  src/store/repository.ts
  src/store/simpleOrg.ts
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

fix: typo component stories name.
  src/components/organisms/ReposFilters/ReposContainer.stories.tsx
  src/components/organisms/ReposFilters/ReposFilters.stories.tsx
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

fix: import GlobalStyle instead of style.css in storybook.
  .storybook/preview.js
Due: prettier --write, eslint --fix

fix: use react-query instead of redux.
  package.json
  src/components/organisms/Header/Header.stories.tsx
  src/components/organisms/OrganizationInputSearch/OrganizationInputSearch.stories.tsx
  src/components/organisms/OrganizationInputSearch/OrganizationInputSearch.tsx
  src/components/organisms/RecommendOrganizations/RecommendOrganizations.stories.tsx
  src/components/organisms/RecommendOrganizations/RecommendOrganizations.tsx
  src/components/organisms/ReposContainer/ReposContainer.stories.tsx
  src/components/organisms/ReposContainer/ReposContainer.tsx
  src/components/pages/OrganizationPage/OrganizationPage.tsx
  src/components/pages/RepoPage/RepoPage.tsx
  src/index.tsx
  src/store/index.ts
  src/store/organization.ts
  src/store/readme.ts
  src/store/repository.ts
  src/store/simpleOrg.ts
  src/util/hooks/useAppDispatch.ts
  src/util/hooks/useAppSelector.ts
  src/util/hooks/useOrganization.ts
  src/util/hooks/useReadme.ts
  src/util/hooks/useRecommendSimpleOrganizations.ts
  src/util/hooks/useRepo.ts
  src/util/hooks/useRepos.ts
  src/util/hooks/useSimpleOrganizations.ts
  src/util/queryKeys/index.ts
  src/util/queryKeys/organizationsKeys.ts
  src/util/queryKeys/readmesKeys.ts
  src/util/queryKeys/reposKeys.ts
  src/util/queryKeys/simpleOrganizationsKeys.ts
  types/index.d.ts
  yarn.lock
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

fix: revise some styles.
  src/components/molecules/RepoProfile/styles.tsx
  src/components/pages/HomePage/HomePage.tsx
  src/components/pages/HomePage/styles.tsx
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

fix: move api function into individual folder and move filters data into individual file.
  src/components/organisms/ReposContainer/ReposContainer.tsx
  src/components/organisms/ReposFilters/ReposFilters.tsx
  src/util/api/getOrganization.ts
  src/util/api/getReadme.ts
  src/util/api/getRecommendSimpleOrganization.ts
  src/util/api/getRepo.ts
  src/util/api/getRepos.ts
  src/util/api/getSimpleOrganizations.ts
  src/util/filters.ts
  src/util/functions/getOrgFilterParamsKey.ts
  src/util/functions/getValidRepoFilters.ts
  src/util/hooks/useOrganization.ts
  src/util/hooks/useReadme.ts
  src/util/hooks/useRecommendSimpleOrganizations.ts
  src/util/hooks/useRepo.ts
  src/util/hooks/useRepos.ts
  src/util/hooks/useSimpleOrganizations.ts
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

test: add some tests.
  src/components/atoms/Button/Button.test.tsx
  src/components/atoms/HintText/HintText.test.tsx
  src/components/atoms/Input/Input.test.tsx
  src/components/atoms/Input/Input.tsx
  src/components/atoms/Label/Label.test.tsx
  src/components/atoms/Modal/Modal.test.tsx
  src/components/atoms/ScrollTopButton/ScrollTopButton.test.tsx
  src/components/atoms/SelectList/SelectList.test.tsx
  src/components/atoms/SelectOption/SelectOption.stories.tsx
  src/components/atoms/SelectOption/SelectOption.test.tsx
  src/components/atoms/Tag/Tag.test.tsx
  src/util/functions/capitalizeFirstLetter.ts
  src/util/functions/capitalizeFirstLetter/capitalizeFirstLetter.test.ts
  src/util/functions/capitalizeFirstLetter/capitalizeFirstLetter.ts
  src/util/functions/capitalizeFirstLetter/index.ts
  src/util/functions/getOrgFilterParamsKey.ts
  src/util/functions/getValidRepoFilters/getValidRepoFilters.test.ts
  src/util/functions/getValidRepoFilters/getValidRepoFilters.ts
  src/util/functions/getValidRepoFilters/index.ts
  src/util/functions/timeFormatter/index.ts
  src/util/functions/timeFormatter/timeFormatter.test.ts
  src/util/functions/timeFormatter/timeFormatter.ts
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

doc: update README.md.
  README.md
Due: none

Updates
  404.html
  asset-manifest.json
  index.html
  static/js/main.48984de0.js
  static/js/main.48984de0.js.map
  static/js/main.a21e9b4f.js
  static/js/main.a21e9b4f.js.LICENSE.txt
  static/js/main.a21e9b4f.js.map
Due: prettier --write, eslint --fix

fix: revise RepoPage styles.
  src/components/pages/RepoPage/styles.tsx
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

Updates
  404.html
  asset-manifest.json
  index.html
  static/js/main.489ee790.js
  static/js/main.489ee790.js.LICENSE.txt
  static/js/main.489ee790.js.map
  static/js/main.a21e9b4f.js
  static/js/main.a21e9b4f.js.map
Due: prettier --write, eslint --fix

fix: avoid CardRepo unnecessarily re-rendering when cached style objects are reset.
  src/components/molecules/RepoList/RepoList.tsx
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

fix: add rehype plugin to parse the html in README.
  package.json
  src/components/molecules/Readme/Readme.tsx
  src/components/molecules/Readme/styles.tsx
  yarn.lock
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

fix: support display grid for repo list.
  package.json
  src/assets/icons/grid.svg
  src/assets/icons/rows.svg
  src/components/molecules/RepoListGrid/RepoListGrid.tsx
  src/components/molecules/RepoListGrid/index.ts
  src/components/molecules/RepoListGrid/styles.tsx
  src/components/molecules/RepoProfile/RepoProfile.stories.tsx
  src/components/molecules/RepoProfile/RepoProfile.tsx
  src/components/organisms/Header/styles.tsx
  src/components/organisms/RecommendOrganizations/styles.tsx
  src/components/organisms/ReposContainer/ReposContainer.tsx
  src/components/organisms/ReposContainer/styles.tsx
  src/components/organisms/ReposFilters/ReposFilters.tsx
  src/components/organisms/ReposFilters/styles.tsx
  src/components/pages/OrganizationPage/OrganizationPage.tsx
  src/components/pages/OrganizationPage/styles.tsx
  src/components/pages/RepoPage/RepoPage.tsx
  src/styles/globalsStyles.ts
  src/util/constants/layouts.ts
  types/react-window-scroller/index.d.ts
  yarn.lock
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

Updates
  404.html
  asset-manifest.json
  index.html
  static/js/370.32eb887e.chunk.js
  static/js/370.32eb887e.chunk.js.map
  static/js/609.4dadf13b.chunk.js
  static/js/609.4dadf13b.chunk.js.LICENSE.txt
  static/js/609.4dadf13b.chunk.js.map
  static/js/main.00e3c666.js
  static/js/main.00e3c666.js.LICENSE.txt
  static/js/main.00e3c666.js.map
  static/js/main.489ee790.js
  static/js/main.489ee790.js.map
  static/media/grid.b9ddb05aba32a23a989f6c0796595119.svg
  static/media/rows.ce7b160311daa74cc81735cf21b6192b.svg
Due: prettier --write, eslint --fix

Updates
  404.html
  asset-manifest.json
  index.html
  static/js/main.00e3c666.js
  static/js/main.00e3c666.js.map
  static/js/main.bd4bc110.js
  static/js/main.bd4bc110.js.LICENSE.txt
  static/js/main.bd4bc110.js.map
Due: prettier --write, eslint --fix

Updates
  404.html
  asset-manifest.json
  index.html
  static/js/main.009723cc.js
  static/js/main.009723cc.js.LICENSE.txt
  static/js/main.009723cc.js.map
  static/js/main.bd4bc110.js
  static/js/main.bd4bc110.js.map
  static/media/arrow-down.c8d32c357890d450e3e9b6d74020a9b8.svg
  static/media/arrow-up.ef015f1dcde88f867db380aa0e2313d3.svg
  static/media/check.98d556d3a5ee5fb50987d2f1f336bdcf.svg
  static/media/grid.b9ddb05aba32a23a989f6c0796595119.svg
  static/media/rows.ce7b160311daa74cc81735cf21b6192b.svg
Due: prettier --write, eslint --fix

Updates
  404.html
  asset-manifest.json
  index.html
  static/js/609.02902358.chunk.js
  static/js/609.02902358.chunk.js.LICENSE.txt
  static/js/609.02902358.chunk.js.map
  static/js/609.4dadf13b.chunk.js
  static/js/609.4dadf13b.chunk.js.map
  static/js/main.009723cc.js
  static/js/main.009723cc.js.map
  static/js/main.e8bb6bca.js
  static/js/main.e8bb6bca.js.LICENSE.txt
  static/js/main.e8bb6bca.js.map
Due: prettier --write, eslint --fix

Updates
  404.html
  asset-manifest.json
  index.html
  static/js/609.02902358.chunk.js
  static/js/609.02902358.chunk.js.map
  static/js/609.4dadf13b.chunk.js
  static/js/609.4dadf13b.chunk.js.LICENSE.txt
  static/js/609.4dadf13b.chunk.js.map
  static/js/main.e8bb6bca.js
  static/js/main.e8bb6bca.js.map
  static/js/main.ea250cf8.js
  static/js/main.ea250cf8.js.LICENSE.txt
  static/js/main.ea250cf8.js.map
  static/media/arrow-down.c8d32c357890d450e3e9b6d74020a9b8.svg
  static/media/arrow-up.ef015f1dcde88f867db380aa0e2313d3.svg
  static/media/check.98d556d3a5ee5fb50987d2f1f336bdcf.svg
  static/media/grid.b9ddb05aba32a23a989f6c0796595119.svg
  static/media/link.c3aa363ea7b1696f9ac8246fd6772526.svg
  static/media/rows.ce7b160311daa74cc81735cf21b6192b.svg
Due: prettier --write, eslint --fix

Updates
  404.html
  asset-manifest.json
  index.html
  static/js/274.28eec110.chunk.js
  static/js/274.28eec110.chunk.js.map
  static/js/370.32eb887e.chunk.js
  static/js/370.32eb887e.chunk.js.map
  static/js/609.4dadf13b.chunk.js
  static/js/609.4dadf13b.chunk.js.LICENSE.txt
  static/js/609.4dadf13b.chunk.js.map
  static/js/main.734e8115.js
  static/js/main.734e8115.js.LICENSE.txt
  static/js/main.734e8115.js.map
  static/js/main.ea250cf8.js
  static/js/main.ea250cf8.js.map
  static/media/arrow-down.c8d32c357890d450e3e9b6d74020a9b8.svg
  static/media/arrow-up.ef015f1dcde88f867db380aa0e2313d3.svg
  static/media/banner.6a98ca216f1c24802a07.png
  static/media/check.98d556d3a5ee5fb50987d2f1f336bdcf.svg
  static/media/close.30b835797d1463f675ae5a9d5da4956a.svg
  static/media/error.b88014bdbfa2e514ddeb.png
  static/media/github.ae9cdb057532bff98419750d8e982967.svg
  static/media/grid.b9ddb05aba32a23a989f6c0796595119.svg
  static/media/not-found.d3fa043a7ebf05e333dc.png
  static/media/rows.ce7b160311daa74cc81735cf21b6192b.svg
  static/media/search.0cfb088b6054ed7c531bfe40a8676415.svg
  static/media/star.4089027bc4af7db9681a0f59476d6bbb.svg
Due: prettier --write, eslint --fix

Updates
  404.html
  asset-manifest.json
  index.html
  static/js/main.734e8115.js
  static/js/main.734e8115.js.map
  static/js/main.ce934ab7.js
  static/js/main.ce934ab7.js.LICENSE.txt
  static/js/main.ce934ab7.js.map
Due: prettier --write, eslint --fix

Updates
  404.html
  index.html
Due: none

Updates
  404.html
  asset-manifest.json
  index.html
  static/js/main.13a2a988.js
  static/js/main.13a2a988.js.LICENSE.txt
  static/js/main.13a2a988.js.map
  static/js/main.ce934ab7.js
  static/js/main.ce934ab7.js.map
Due: prettier --write, eslint --fix
