Repository yilingtung/github-explorer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, bash -c tsc --noEmit

.lintstagedrc.json:

{
  "!*.{js,jsx,ts,tsx,sol,tf}": ["prettier --ignore-unknown --write"],
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{ts,tsx}": ["bash -c tsc --noEmit"]
}

Updates
  404.html
  index.html
Due: none

Updates
  404.html
  asset-manifest.json
  index.html
  static/js/main.13a2a988.js
  static/js/main.13a2a988.js.map
  static/js/main.3a689c46.js
  static/js/main.3a689c46.js.LICENSE.txt
  static/js/main.3a689c46.js.map
Due: prettier --write, eslint --fix

Updates
  404.html
  asset-manifest.json
  index.html
  static/js/main.3a689c46.js
  static/js/main.3a689c46.js.map
  static/js/main.de29f283.js
  static/js/main.de29f283.js.LICENSE.txt
  static/js/main.de29f283.js.map
Due: prettier --write, eslint --fix

Updates
  404.html
  asset-manifest.json
  index.html
  static/js/main.a83a37d0.js
  static/js/main.a83a37d0.js.LICENSE.txt
  static/js/main.a83a37d0.js.map
  static/js/main.de29f283.js
  static/js/main.de29f283.js.map
Due: prettier --write, eslint --fix

Updates
  404.html
  asset-manifest.json
  index.html
  static/js/main.a83a37d0.js
  static/js/main.a83a37d0.js.map
  static/js/main.ea1addad.js
  static/js/main.ea1addad.js.LICENSE.txt
  static/js/main.ea1addad.js.map
Due: prettier --write, eslint --fix

Updates
  404.html
  asset-manifest.json
  index.html
  static/js/main.3ccf2b39.js
  static/js/main.3ccf2b39.js.LICENSE.txt
  static/js/main.3ccf2b39.js.map
  static/js/main.ea1addad.js
  static/js/main.ea1addad.js.map
Due: prettier --write, eslint --fix

Updates
  404.html
  asset-manifest.json
  index.html
  static/js/main.3ccf2b39.js
  static/js/main.3ccf2b39.js.map
  static/js/main.bf621baf.js
  static/js/main.bf621baf.js.LICENSE.txt
  static/js/main.bf621baf.js.map
Due: prettier --write, eslint --fix

Updates
  404.html
  asset-manifest.json
  index.html
  static/js/main.0b5c96d1.js
  static/js/main.0b5c96d1.js.LICENSE.txt
  static/js/main.0b5c96d1.js.map
  static/js/main.bf621baf.js
  static/js/main.bf621baf.js.map
Due: prettier --write, eslint --fix

Updates
  404.html
  asset-manifest.json
  index.html
  static/js/main.0b5c96d1.js
  static/js/main.0b5c96d1.js.map
  static/js/main.a8f554d6.js
  static/js/main.a8f554d6.js.LICENSE.txt
  static/js/main.a8f554d6.js.map
Due: prettier --write, eslint --fix

Updates
  404.html
  asset-manifest.json
  index.html
  static/js/274.28eec110.chunk.js
  static/js/274.28eec110.chunk.js.map
  static/js/370.32eb887e.chunk.js
  static/js/370.32eb887e.chunk.js.map
  static/js/609.4dadf13b.chunk.js
  static/js/609.4dadf13b.chunk.js.LICENSE.txt
  static/js/609.4dadf13b.chunk.js.map
  static/js/main.a8f554d6.js
  static/js/main.a8f554d6.js.map
  static/js/main.d5444528.js
  static/js/main.d5444528.js.LICENSE.txt
  static/js/main.d5444528.js.map
  static/media/arrow-down.c8d32c357890d450e3e9b6d74020a9b8.svg
  static/media/arrow-up.ef015f1dcde88f867db380aa0e2313d3.svg
  static/media/banner.6a98ca216f1c24802a07.png
  static/media/check.98d556d3a5ee5fb50987d2f1f336bdcf.svg
  static/media/close.30b835797d1463f675ae5a9d5da4956a.svg
  static/media/error.b88014bdbfa2e514ddeb.png
  static/media/github.ae9cdb057532bff98419750d8e982967.svg
  static/media/grid.b9ddb05aba32a23a989f6c0796595119.svg
  static/media/link.c3aa363ea7b1696f9ac8246fd6772526.svg
  static/media/not-found.d3fa043a7ebf05e333dc.png
  static/media/rows.ce7b160311daa74cc81735cf21b6192b.svg
  static/media/search.0cfb088b6054ed7c531bfe40a8676415.svg
  static/media/star.4089027bc4af7db9681a0f59476d6bbb.svg
Due: prettier --write, eslint --fix

fix: throttle the window scroll event on small device.
  public/index.html
  src/components/molecules/RepoList/RepoList.tsx
  src/styles/globalsStyles.ts
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

Updates
  404.html
  asset-manifest.json
  index.html
  static/js/main.719d2d3c.js
  static/js/main.719d2d3c.js.LICENSE.txt
  static/js/main.719d2d3c.js.map
  static/js/main.d5444528.js
  static/js/main.d5444528.js.map
Due: prettier --write, eslint --fix

fix: remove useless libraries.
  package.json
  yarn.lock
Due: none

fix: update README.md.
  README.md
  images/list-display.gif
  src/logo.svg
Due: none

fix: remove useless file.
  README.md
  src/util/maps/errorMap.ts
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

fix: prevent api retry and refetch on window focus.
  src/util/hooks/useOrganization.ts
  src/util/hooks/useReadme.ts
  src/util/hooks/useRecommendSimpleOrganizations.ts
  src/util/hooks/useRepo.ts
  src/util/hooks/useRepos.ts
  src/util/hooks/useSimpleOrganizations.ts
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

Updates
  404.html
  asset-manifest.json
  index.html
  static/js/609.040eeedc.chunk.js
  static/js/609.040eeedc.chunk.js.LICENSE.txt
  static/js/609.040eeedc.chunk.js.map
  static/js/609.4dadf13b.chunk.js
  static/js/609.4dadf13b.chunk.js.LICENSE.txt
  static/js/609.4dadf13b.chunk.js.map
  static/js/main.27212193.js
  static/js/main.27212193.js.LICENSE.txt
  static/js/main.27212193.js.map
  static/js/main.719d2d3c.js
  static/js/main.719d2d3c.js.map
Due: prettier --write, eslint --fix

fix: load route component dynamically.
  src/App.tsx
  src/components/atoms/Box/Box.stories.tsx
  src/components/atoms/Box/Box.tsx
  src/components/atoms/Box/index.ts
  src/components/atoms/Box/styles.tsx
  src/components/atoms/Loading/Loading.stories.tsx
  src/components/atoms/Loading/Loading.tsx
  src/components/atoms/Loading/index.ts
  src/components/atoms/Loading/styles.tsx
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

fix: adjust Suspense loading component of Readme.
  src/components/pages/RepoPage/RepoPage.tsx
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

Updates
  404.html
  asset-manifest.json
  index.html
  static/js/105.aff82d50.chunk.js
  static/js/105.aff82d50.chunk.js.map
  static/js/242.d722c5f7.chunk.js
  static/js/242.d722c5f7.chunk.js.map
  static/js/609.040eeedc.chunk.js
  static/js/609.040eeedc.chunk.js.map
  static/js/609.c85bb7e7.chunk.js
  static/js/609.c85bb7e7.chunk.js.LICENSE.txt
  static/js/609.c85bb7e7.chunk.js.map
  static/js/672.6037d550.chunk.js
  static/js/672.6037d550.chunk.js.map
  static/js/home.c1ef88c6.chunk.js
  static/js/home.c1ef88c6.chunk.js.map
  static/js/main.27212193.js
  static/js/main.27212193.js.map
  static/js/main.c74d3af1.js
  static/js/main.c74d3af1.js.LICENSE.txt
  static/js/main.c74d3af1.js.map
  static/js/organization.1dcbf099.chunk.js
  static/js/organization.1dcbf099.chunk.js.map
  static/js/repo.872d917e.chunk.js
  static/js/repo.872d917e.chunk.js.map
Due: prettier --write, eslint --fix

fix: set the query data stale to 10 minutes.
  src/components/organisms/OrganizationInputSearch/OrganizationInputSearch.tsx
  src/components/organisms/RecommendOrganizations/RecommendOrganizations.tsx
  src/components/pages/OrganizationPage/OrganizationPage.tsx
  src/components/pages/RepoPage/RepoPage.tsx
  src/util/hooks/useOrganization.ts
  src/util/hooks/useReadme.ts
  src/util/hooks/useRecommendSimpleOrganizations.ts
  src/util/hooks/useRepo.ts
  src/util/hooks/useRepos.ts
  src/util/hooks/useSimpleOrganizations.ts
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

fix: remove useless query key.
  images/api-rate-limit.jpg
  images/error-handling.jpg
  images/not-found.jpg
  src/util/queryKeys/organizationsKeys.ts
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

doc: upadte README.md.
  README.md
  images/caching.png
  images/profiler.jpg
  images/route-based-splitting.png
Due: none

test: add some tests.
  src/components/atoms/Box/Box.test.tsx
  src/components/atoms/Button/Button.test.tsx
  src/components/atoms/HintText/HintText.test.tsx
  src/components/atoms/Input/Input.test.tsx
  src/components/atoms/Label/Label.test.tsx
  src/components/atoms/Modal/Modal.test.tsx
  src/components/atoms/ScrollTopButton/ScrollTopButton.test.tsx
  src/components/atoms/SelectList/SelectList.test.tsx
  src/components/atoms/SelectOption/SelectOption.test.tsx
  src/components/atoms/Tag/Tag.test.tsx
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

fix: adjust import order and currect some logic.
  src/components/organisms/RecommendOrganizations/RecommendOrganizations.tsx
  src/components/pages/OrganizationPage/OrganizationPage.tsx
  src/components/pages/RepoPage/RepoPage.tsx
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

test: add test for query hooks.
  package.json
  src/setupTests.ts
  src/util/hooks/__tests__/useReadme.test.tsx
  src/util/hooks/__tests__/useRepo.test.tsx
  src/util/hooks/__tests__/useRepos.test.tsx
  src/util/reactQueryTestHelper.tsx
  yarn.lock
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

test: adjust files structure of util/functions.
  src/util/functions/__tests__/capitalizeFirstLetter.test.ts
  src/util/functions/__tests__/getValidRepoFilters.test.ts
  src/util/functions/__tests__/timeFormatter.test.ts
  src/util/functions/capitalizeFirstLetter.ts
  src/util/functions/capitalizeFirstLetter/index.ts
  src/util/functions/getValidRepoFilters.ts
  src/util/functions/getValidRepoFilters/index.ts
  src/util/functions/timeFormatter.ts
  src/util/functions/timeFormatter/index.ts
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

test: use ProviderComposer to create context wrapper.
  src/components/atoms/ProviderComposer/ProviderComposer.tsx
  src/components/atoms/ProviderComposer/index.ts
  src/setupTests.ts
  src/util/hooks/__tests__/useReadme.test.tsx
  src/util/hooks/__tests__/useRepo.test.tsx
  src/util/hooks/__tests__/useRepos.test.tsx
  src/util/reactQueryTestHelper.tsx
  src/util/tests/handlers.tsx
  src/util/tests/test-utils.tsx
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

test: add HomePage testing.
  src/components/pages/HomePage/HomePage.test.tsx
  src/util/hooks/__tests__/useRecommendSimpleOrganizations.test.tsx
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

test: add OrganizationPage testing.
  src/components/pages/OrganizationPage/OrganizationPage.test.tsx
  src/util/hooks/__tests__/useOrganization.test.tsx
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

test: add jest test to husky lint-stage.
  .lintstagedrc.json
Due: none

test: add repo card clicking test.
  src/components/pages/OrganizationPage/OrganizationPage.test.tsx
  src/util/tests/handlers.tsx
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

test: add RepoPage testing.
  package.json
  src/components/pages/RepoPage/RepoPage.test.tsx
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

Updates
  404.html
  asset-manifest.json
  index.html
  static/js/242.d722c5f7.chunk.js
  static/js/242.d722c5f7.chunk.js.map
  static/js/375.ddbfd059.chunk.js
  static/js/375.ddbfd059.chunk.js.map
  static/js/609.c85bb7e7.chunk.js
  static/js/609.c85bb7e7.chunk.js.LICENSE.txt
  static/js/609.c85bb7e7.chunk.js.map
  static/js/609.c90b02ab.chunk.js
  static/js/609.c90b02ab.chunk.js.LICENSE.txt
  static/js/609.c90b02ab.chunk.js.map
  static/js/895.a2b186b7.chunk.js
  static/js/895.a2b186b7.chunk.js.map
  static/js/home.c1ef88c6.chunk.js
  static/js/home.c1ef88c6.chunk.js.map
  static/js/home.e9e79825.chunk.js
  static/js/home.e9e79825.chunk.js.map
  static/js/main.86746b9c.js
  static/js/main.86746b9c.js.LICENSE.txt
  static/js/main.86746b9c.js.map
  static/js/main.c74d3af1.js
  static/js/main.c74d3af1.js.map
  static/js/organization.1dcbf099.chunk.js
  static/js/organization.1dcbf099.chunk.js.map
  static/js/organization.cecd8a08.chunk.js
  static/js/organization.cecd8a08.chunk.js.map
  static/js/repo.2e169e39.chunk.js
  static/js/repo.2e169e39.chunk.js.map
  static/js/repo.872d917e.chunk.js
  static/js/repo.872d917e.chunk.js.map
Due: prettier --write, eslint --fix

deploy: 60ae763a36009055d8b3ea4966df94e15e43f5c9
  .nojekyll
  404.html
  asset-manifest.json
  index.html
  static/js/main.86746b9c.js
  static/js/main.86746b9c.js.map
  static/js/main.9ab2dec7.js
  static/js/main.9ab2dec7.js.LICENSE.txt
  static/js/main.9ab2dec7.js.map
  static/js/organization.cecd8a08.chunk.js.map
Due: prettier --write, eslint --fix

deploy: e80346c677af831d51f64fb82249f6626d6094db
  404.html
  asset-manifest.json
  index.html
  static/js/main.86746b9c.js
  static/js/main.86746b9c.js.LICENSE.txt
  static/js/main.86746b9c.js.map
  static/js/main.9ab2dec7.js
  static/js/main.9ab2dec7.js.map
Due: prettier --write, eslint --fix

doc: update README file.
  README.md
Due: none

fix: remove useless code.
  src/components/pages/RepoPage/RepoPage.tsx
Due: prettier --write, eslint --fix, bash -c tsc --noEmit

ci: optimize yarn installation.
  .github/workflows/main.yml
Due: none

doc: update README.md.
  README.md
Due: none
